# dependencies
node_modules/

# build
dist/
dist-ssr/

# logs
*.log
npm-debug.log*

# env
.env
.env.local
*.local

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# test coverage
coverage/
